SQLAlchemy==1.4.49
aiofiles==23.1.0
aiosmtplib==2.0.1
altair==5.2.0
asyncpg==0.27.0
fastapi==0.111.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
pandas==2.2.0
passlib==1.7.4
pillow==10.2.0
psycopg2-binary==2.9.9
pyjwt==2.8.0
python-dotenv==1.0.1
python-multipart==0.0.9
requests==2.31.0
streamlit==1.31.1
tensorflow-hub==0.15.0
tensorflow==2.15.0
uvicorn==0.27.1
xlsxwriter==3.1.9
